<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Księgarnia - Książki</title>
</head>
<body>
<h1>Książki</h1>

<div th:if="${user.role == 'ADMIN'}">
    <form action="books/add" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tytuł</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="title" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cena</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="price" required>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj do bazy</button>
    </form>
</div>


<table class="table">
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Tytuł</th>
        <th>Cena</th>
        <th>Okładka</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${bookStat.count}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td th:if="${user.role != 'ADMIN'}"><a class="btn btn-success" href="/bookOrder/${book.id}" role="button">Dodaj do koszyka</a></td>
        <td th:if="${user.role == 'ADMIN'}"><a class="btn btn-danger" href="/bookOrder/delete/${book.id}" role="button">Usuń z bazy</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>