<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Księgarnia - Książki</title>
</head>
<body>
<h1>Książki</h1>
<h6>Znalezionych elementów: ${count}</h6>

<div th:if="${admin}">
    <form action="/books/add" method="GET">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tytuł</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cena</label>
            <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Dodaj do bazy</button>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Tytuł</th>
        <th>Cena</th>
        <th>Okładka</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${bookStat.count}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td><img src="../img/${book.id}.png" height="200" width="160"></td>
        <td><a class="btn btn-primary" href="/books/${book.id}" role="button">Szczegóły</a></td>
        <td><a class="btn btn-success" href="/order/${book.id}" role="button">Dodaj do koszyka</a></td>
        <td th:if="${admin}"><a class="btn btn-danger" href="/order/delete/${book.id}" role="button">Usuń z bazy</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>