<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Księgarnia - Szczegóły</title>
</head>
<body>

<h1 th:utext="Szczegóły książki ${book.title}"></h1>
<table class="table">
    <tbody>
    <tr>
        <th scope="row">Title</th>
        <td th:text="${book.title}"></td>
    </tr>
    <tr>
        <th scope="row">Price</th>
        <td th:text="${book.price}"></td>
    </tr>
    </tbody>
</table>
<td><a class="btn btn-success" th:href="@{/orders/{id}(id=${book.id})}" role="button">Dodaj do koszyka</a></td>
<a href="books">Wróć do listy książek</a>
</body>
</html>